<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='defaultLanguage' content='pt-BR' />
    <meta name='availableLanguages' content='pt-BR' />
    <meta name='language' content='pt_BR' />
    <meta name='coverage' content='Worldwide' />
    <meta name='distribution' content='Global' />
    <meta name='rating' content='General' />
    <meta name='revisit-after' content='7 days' />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='copyright' content='Kimolécula Labs' />
    <meta name='author' content='Larissa Bento' />
    <meta name='robots' content='all, index, follow' />
    <meta name='description' content='' />
    <meta name='keywords' content='' />
    <meta property='og:locale' content='pt_BR' />
    <meta property='og:site_name' content='' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='' />
    <meta property='og:description' content='' />
    <meta property='og:url' content='' />
    <meta property='og:image' content='' />
    <meta property='og:image:type' content='image/png' />
    <meta property='og:image:width' content='800' />
    <meta property='og:image:height' content='800' />
    <meta property='fb:page_id' content='' />
    <meta property='fb:admins' content='' />
    <meta name='application-name' content='' />
    <meta name='msapplication-TileImage' content='design/Icon-256-transp.png' />
    <meta name='msapplication-TileColor' content='#' />
    <link rel='icon' sizes='192x192' href='design/Icon-xxxhdpi.png' />
    <link rel='shortcut icon' sizes='16x16' href='design/Icon-16.png' />
    <link rel='shortcut icon' sizes='32x32' href='design/Icon-32.png' />
    <link rel='shortcut icon' sizes='48x48' href='design/Icon-mdpi.png' />
    <link rel='shortcut icon' sizes='64x64' href='design/Icon-32@2x.png' />
    <link rel='apple-touch-icon' sizes='57x57' href='design/Icon.png' />
    <link rel='apple-touch-icon-precomposed' sizes='57x57' href='design/Icon.png' />
    <link rel='apple-touch-icon' sizes='72x72' href='design/Icon-72.png' />
    <link rel='apple-touch-icon' sizes='114x114' href='design/Icon@2x.png' />
    <link rel='apple-touch-icon' sizes='120x120' href='design/Icon-60@2x.png' />
    <link rel='apple-touch-icon' sizes='144x144' href='design/Icon-72@2x.png' />
    <link rel='apple-touch-icon' sizes='152x152' href='design/Icon-76@2x.png' />
    <link rel='apple-touch-icon-precomposed' sizes='180x180' href='design/Icon-60@3x.png' />
    <link rel='apple-touch-icon-precomposed' sizes='152x152' href='design/Icon-76@2x.png' />
    <link rel='apple-touch-icon-precomposed' sizes='144x144' href='design/Icon-72@2x.png' />
    <link rel='apple-touch-icon-precomposed' sizes='120x120' href='design/Icon-60@2x.png' />
    <link rel='apple-touch-icon-precomposed' sizes='114x114' href='design/Icon@2x.png' />
    <link rel='apple-touch-icon-precomposed' sizes='76x76' href='design/Icon-76.png' />
    <link rel='apple-touch-icon-precomposed' sizes='72x72' href='design/Icon-72.png' />
    <link rel='apple-touch-icon-precomposed' sizes='57x57' href='design/Icon.png' />

    <link rel='localization' href='l20n/manifest.json' />

    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Architects+Daughter|Muli' />
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css' />
    <link rel='stylesheet' type='text/css' href='css/normalize.css' />
    <link rel='stylesheet' type='text/css' href='css/style-reset.css' />
    <link rel='stylesheet' type='text/css' href='css/sweetalert.css' />
    <link rel='stylesheet' type='text/css' href='css/kimolecula.min.css' />

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85886654-1', 'auto');
    ga('send', 'pageview');
    </script>

    <script type='text/javascript' charset='utf-8' src='libs/angular.min.js'></script>
    <script type='text/javascript' charset='utf-8' src='libs/angular-resource.min.js'></script>
    <script type='text/javascript' charset='utf-8' src='libs/angular-route.min.js'></script>
    <script type='text/javascript' charset='utf-8' src='libs/angular-sanitize.min.js'></script>
    <script type='text/javascript' charset='utf-8' src='libs/l20n.min.js'></script>
    <script type='text/javascript' charset='utf-8' src='libs/sweetalert.min.js'></script>
    <script type='text/javascript' charset='utf-8' src='libs/ngSweetAlert.min.js'></script>
    <script type='text/javascript' charset='utf-8' src='js/kimolecula.min.js' defer></script>

    <title>KI-Molécula</title>
</head>
<body ng-app='kimolecula'>
    <div class="app-wrapper" ng-view>
    </div>
</body>
</html>
