<div class="container-column">
    <div class="header-buttons">
        <a class='button button--border-dark button--big-icon' href="#/home"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="center-content">
        <h1 data-l20n="kmlNomeTitle"></h1>
        <span>
            <img src="" alt="" />
            <p data-l20n="kmlNomeParagraph"></p>
        </span>
        <span class="form-user">
            <input type="text" name="name" value="" class="input input--border-dark">
            <a class='button button--border-dark button--big-icon' href="#/instrucoes"><i class="fa fa-check"></i></a>
        </span>
    </div>
</div>
