
<div class="container-column">
    <div class="header-buttons">
        <a class='button button--border-dark button--big-icon' href="#/insira-seu-nome"><i class="fa fa-arrow-left"></i></a>
        <img src="design/panda-logo-05.png"/>
    </div>
    <div id="instrucoes" class="center-content">
        <div class="height-content">
            <h1 data-l20n="kmlInstruTitle"></h1>
            <p data-l20n="kmlInstruParagraph" class="text-full"></p>
            <a class='button button--full-color button--super-width' href="#/jogo" data-l20n="kmlInstruButton1"></a>
        </div>
    </div>
</div>
