<div class="center-content">
    <div class="">
        <span>
            <p data-l20n="kmlJogoParagraph1"></p>
        </span>
        <span>
            <button type="button" name="button" data-l20n="kmlJogoButton1"></button>
        </span>
        <span>
            <button type="button" name="button" data-l20n="kmlJogoButton2"></button>
        </span>
    </div>
    <div class="">
        <p data-l20n="kmlJogoParagraph1"></p>
    </div>
    <div class="">
        <div class="">
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
        </div>
        <div class="">
            <span>opção</span><span>opção</span><span>opção</span>
        </div>
        <div class="">
            <span>opção</span><span>opção</span><span>opção</span><span>opção</span><span>opção</span>
            <span>opção</span><span>opção</span><span>opção</span><span>opção</span><span>opção</span>
        </div>
        <div class="">
            <span>
                <p data-l20n="kmlJogoParagraph2"></p>
            </span>
            <span>
                <button type="button" name="button" data-l20n="kmlJogoButton3"></button>
            </span>
        </div>
        <div class="">
            <span>
                <input type="button" name="name" value="">
                Barra de pesquisa
            </span>
        </div>
        <div class="">
            <span>
                <p data-l20n="kmlJogoParagraph3"></p>
            </span>
        </div>
    </div>
</div>
