<div class="container-column">
    <div class="header-buttons">
        <a class='button button--border-dark button--big-icon' href="#/home"><i class="fa fa-arrow-left"></i></a>
        <img src="design/panda-logo-05.png"/>
    </div>
    <div id="nome" class="center-content">
        <h1 data-l20n="kmlNomeTitle"></h1>
        <span>
            <p data-l20n="kmlNomeParagraph"></p>
        </span>
        <span class="form-user">
            <form ng-submit="validateUser()">
                <input type="text" name="name" value="" ng-model="game.user" ng-init="game.user = []" placeholder="Ex: Ana Clara" class="input input--border-dark">
                <button type='submit' class='button button--border-dark button--big-icon'><i class="fa" ng-class="{'fa-check': game.user.length >= 3, 'fa-times': game.user.length <= 2}"></i></button>
            </form>
        </span>
    </div>
</div>
