//SIZE OF HEADERS AND PARAGRAPHERS
@hSize: 5rem;
@pSize: 1rem;

* {
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none !important;
}

h1 {
    font-size: @hSize * 1.6;
    line-height: @hSize * 1.3;

    letter-spacing: -4px;

    color: @kml-black;

    .kml-font1;
    .lower-case;
    align-self: auto;
}

h2 {
    font-size: @hSize * .2;

    align-self: auto;
    .uper-case;
}

h3 {
    font-size: @hSize * .3;

    .uper-case;
    align-self: auto;
}

h4 {
    font-size: @hSize * .19;

    .uper-case;
    align-self: auto;
}

h5 {
    font-size: @hSize * .17;

    .uper-case;
    align-self: auto;
}

p {
    font-size: @pSize;
    line-height: @pSize * 1.3;

    text-align: justify;
    text-indent: @pixel-proportion * 3;

    align-self: auto;
}

.kml-font1 {
    font-family: 'Architects Daughter', cursive;
}

.kml-font2 {
    font-family: 'Muli', sans-serif;
}

.kml-texts-mini {
    font-size: @hSize * .15;
}

.kml-texts-small {
    font-size: @hSize * .2;
}

.kml-texts-medium {
    font-size: @hSize * .25;
}

.kml-texts-semi-large {
    font-size: @hSize * .35;
}

.kml-texts-large {
    font-size: @hSize * 1;
}

.kml-texts-extra-large {
    font-size: @hSize * 1.5;
}

.kml-texts-big {
    font-size: @hSize * 2;
}
