@kml-color-1: #388E3C !important;
@kml-color-2: #4CAF50 !important;
@kml-color-3: #C8E6C9 !important;
@kml-color-4: #8BC34A !important;
@kml-black: #383838 !important;
@kml-black-2: rgba(0, 0, 0, .3) !important;
@kml-grey-1: #727272 !important;
@kml-grey-2: #DEE4EA !important;
@kml-white: rgb(255, 255, 255) !important;

@kml-transparent: rgba(255, 255, 255, 0) !important;
